<!--*********************************************************************************************************-->
<!--HEADER **************************************************************************************************-->
<!--*********************************************************************************************************-->
<header id="ts-header" class="navbar-dark">

  <!-- SECONDARY NAVIGATION
  =============================================================================================================-->
  <nav id="ts-secondary-navigation" class="navbar p-0">
    <div class="container justify-content-end justify-content-sm-between">

      <!--Left Side-->
      <div class="navbar-nav d-none d-sm-block">
        <!--Phone-->
        <span class="mr-4">
          <fa-icon [icon]="faPhone"></fa-icon>
          +1 123 456 789
        </span>
        <!--Email-->
        <a href="#">
          <fa-icon [icon]="faMailBulk"></fa-icon>
          hello@example.com
        </a>
      </div>

      <!--Right Side-->
      <div class="navbar-nav flex-row">

        <!--Search Input-->
        <input type="text" class="form-control p-2 border-left bg-transparent w-auto" placeholder="Search">

        <!--Currency Select-->
        <select class="custom-select bg-transparent ts-text-small border-left" id="currency" name="currency">
          <option value="1">GBP</option>
          <option value="2">USD</option>
          <option value="3">EUR</option>
        </select>

        <!--Language Select-->
        <select class="custom-select bg-transparent ts-text-small border-left border-right" id="language" name="language">
          <option value="1">EN</option>
          <option value="2">FR</option>
          <option value="3">DE</option>
        </select>

      </div>
      <!--end navbar-nav-->
    </div>
    <!--end container-->
  </nav>

  <!--PRIMARY NAVIGATION
  =============================================================================================================-->
  <nav id="ts-primary-navigation" class="navbar navbar-expand-md navbar-light">
    <div class="container">

      <!--Brand Logo-->
      <a class="navbar-brand" href="index-map-leaflet-fullscreen.html">
        <!--<img src="assets/img/logo-w.png" alt="">-->
        <img src="assets/img/casas-logo.jpeg" alt="Casas Cancun"  width="133" height="22"/>
      </a>

      <!--Responsive Collapse Button-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!--Collapsing Navigation-->
      <div class="collapse navbar-collapse" id="navbarPrimary">

        <!--LEFT NAVIGATION MAIN LEVEL
        =================================================================================================-->
        <ul class="navbar-nav">

          <!--HOME (Main level)
          =============================================================================================-->
          <li class="nav-item ts-has-child">

            <!--Main level link-->
            <a class="nav-link active" href="#">
              Home
              <span class="sr-only">(current)</span>
            </a>

            <!-- List (1st level) -->
            <ul class="ts-child">

              <!-- MAP (1st level)
              =====================================================================================-->
              <li class="nav-item ts-has-child">

                <a href="#" class="nav-link">Map</a>

                <!--List (2nd level) -->
                <ul class="ts-child">

                  <!-- OPENSTREETMAP (2nd level level)
                  =============================================================================-->
                  <li class="nav-item ts-has-child">

                    <a href="#" class="nav-link">OpenStreetMap</a>

                    <!--List (3rd level) -->
                    <ul class="ts-child">

                      <li class="nav-item">
                        <a href="index-map-leaflet-fullscreen.html" class="nav-link">Full Screen</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-leaflet-form-bottom.html" class="nav-link">Form Bottom</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-leaflet-half-map.html" class="nav-link">Half Map</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-leaflet-left-results.html" class="nav-link">Left Results</a>
                      </li>

                    </ul>

                  </li>
                  <!--end OpenStreetMap-->
                  <!-- MAPBOX (2nd level level)
                  =============================================================================-->
                  <li class="nav-item ts-has-child">

                    <a href="#" class="nav-link">MapBox</a>

                    <!--List (3rd level) -->
                    <ul class="ts-child">

                      <li class="nav-item">
                        <a href="index-map-mapbox-fullscreen.html" class="nav-link">Full Screen</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-mapbox-form-bottom.html" class="nav-link">Form Bottom</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-mapbox-half-map.html" class="nav-link">Half Map</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-mapbox-left-results.html" class="nav-link">Left Results</a>
                      </li>

                    </ul>

                  </li>
                  <!--end MapBox-->
                  <!-- GOOGLE (2nd level level)
                  =============================================================================-->
                  <li class="nav-item ts-has-child">

                    <a href="#" class="nav-link">Google</a>

                    <!--List (3rd level) -->
                    <ul class="ts-child">

                      <li class="nav-item">
                        <a href="index-map-google-fullscreen.html" class="nav-link">Full Screen</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-google-form-bottom.html" class="nav-link">Form Bottom</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-google-half-map.html" class="nav-link">Half Map</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-google-left-results.html" class="nav-link">Left Results</a>
                      </li>

                    </ul>

                  </li>
                  <!--end Google-->
                  <!-- HERE (2nd level level)
                  =============================================================================-->
                  <li class="nav-item ts-has-child">

                    <a href="#" class="nav-link">Here</a>

                    <!--List (3rd level) -->
                    <ul class="ts-child">

                      <li class="nav-item">
                        <a href="index-map-here-fullscreen.html" class="nav-link">Full Screen</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-here-form-bottom.html" class="nav-link">Form Bottom</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-here-half-map.html" class="nav-link">Half Map</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-here-left-results.html" class="nav-link">Left Results</a>
                      </li>

                    </ul>

                  </li>
                  <!--end Here-->
                  <!-- BING (2nd level level)
                  =============================================================================-->
                  <li class="nav-item ts-has-child">

                    <a href="#" class="nav-link">Bing</a>

                    <!--List (3rd level) -->
                    <ul class="ts-child">

                      <li class="nav-item">
                        <a href="index-map-bing-fullscreen.html" class="nav-link">Full Screen</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-bing-form-bottom.html" class="nav-link">Form Bottom</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-bing-half-map.html" class="nav-link">Half Map</a>
                      </li>

                      <li class="nav-item">
                        <a href="index-map-bing-left-results.html" class="nav-link">Left Results</a>
                      </li>

                    </ul>

                  </li>
                  <!--end Bing-->

                </ul>
                <!--end List (2nd level)-->

              </li>
              <!--end MAP (1st level)-->
              <!-- SLIDER (1st level)
              =====================================================================================-->
              <li class="nav-item ts-has-child">

                <a href="#" class="nav-link">Slider</a>

                <!--List (2nd level) -->
                <ul class="ts-child">

                  <li class="nav-item">
                    <a href="index-slider.html" class="nav-link">Slider Default</a>
                  </li>

                  <li class="nav-item">
                    <a href="index-slider-fullscreen.html" class="nav-link">Full Screen</a>
                  </li>

                  <li class="nav-item">
                    <a href="index-slider-form-vertical.html" class="nav-link">Vertical Form</a>
                  </li>

                  <li class="nav-item">
                    <a href="index-slider-form-horizontal.html" class="nav-link">Horizontal Form</a>
                  </li>

                </ul>
                <!--end List (2nd level) -->

              </li>
              <!--end SLIDER (1st level)-->
              <!-- IMAGE (1st level)
              =====================================================================================-->
              <li class="nav-item ts-has-child">

                <a href="#" class="nav-link">Image</a>

                <!--List (2nd level) -->
                <ul class="ts-child">

                  <li class="nav-item">
                    <a href="index-image-form-horizontal-dark.html" class="nav-link">Horizontal Form</a>
                  </li>

                  <li class="nav-item">
                    <a href="index-image-form-vertical-light.html" class="nav-link">Vertical Form</a>
                  </li>

                  <li class="nav-item">
                    <a href="index-image-fullscreen.html" class="nav-link">Full Screen</a>
                  </li>

                  <li class="nav-item">
                    <a href="index-video-background.html" class="nav-link">Video Background</a>
                  </li>

                </ul>
                <!--end List (2nd level) -->

              </li>
              <!--end SLIDER (1st level)-->

            </ul>
            <!--end List (1st level) -->

          </li>
          <!--end HOME nav-item-->
          <!--ABOUT US (Main level)
          =============================================================================================-->
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">About Us</a>
          </li>
          <!--end ABOUT US nav-item-->
          <!--CONTACT (Main level)
          =============================================================================================-->
          <li class="nav-item">
            <a class="nav-link mr-2" href="contact.html">Contact</a>
          </li>
          <!--end CONTACT nav-item-->

        </ul>
        <!--end Left navigation main level-->
        <!--RIGHT NAVIGATION MAIN LEVEL
        =================================================================================================-->
        <ul class="navbar-nav ml-auto">

          <!--LOGIN (Main level)
          =============================================================================================-->
          <li class="nav-item">
            <a class="nav-link" href="login.html">Login</a>
          </li>

          <!--REGISTER (Main level)
          =============================================================================================-->
          <li class="nav-item">
            <a class="nav-link text-white" href="register.html">Register</a>
          </li>

          <!--SUBMIT (Main level)
          =============================================================================================-->
          <li class="nav-item">
            <a class="btn btn-outline-light btn-sm m-1 px-3" href="submit.html">
              <fa-icon [icon]="faPlus"></fa-icon>
              Add Property
            </a>
          </li>

        </ul>
        <!--end Right navigation-->

      </div>
      <!--end navbar-collapse-->
    </div>
    <!--end container-->
  </nav>
  <!--end #ts-primary-navigation.navbar-->

</header>
<!--end Header-->
